<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Danh sách sản phẩm</title>
</head>



<body class="bg-body-tertiary">
<nav th:replace="/layout :: menu "></nav>
<nav th:replace="/layout :: notify "></nav>

<div class="container">
    <form th:action="@{/shop}" th:object="${cart}" method="post">
        <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
        <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
        <table border="1">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr th:each="product: ${cart.products}">
                <td th:text="${product.getKey().name}"></td>
                <td>
                    <a id="decrease_button" th:href="@{/minus/__${product.getKey().id}__(action='show')}" th:text="${'-'}"></a>
                    <span th:text="${product.getValue()}"></span>
                    <a id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
                       th:text="${'+'}"></a>
                </td>
                <td th:text="${product.getKey().price}"></td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td th:text="${cart.countTotalPayment()}"></td>
            </tr>
        </table>
    </form>

</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>